body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
      float: left;
      padding: 1px;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    display: grid;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    grid-template-areas: "article-photos-text aside-photos";
    grid-template-columns: 3fr 1.5fr;
  }


  
  nav {
    background-color: #000;
    padding: .5em;
    position: sticky;
    top: 0;
    justify-content: space-between;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    position: sticky;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 25px;
    columns: 2;
    float: left;
  }

   ul {
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .photos li {
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: -18px;
  }

  .feature {
      width: 200px;
  }

  aside {
    grid-area: "aside-photos";
  }

  article {
    grid-area: "article-photos-text";
  }